@model Project.Models.applicantInfo
@{
    ViewBag.Title = "Index";
}

@Html.Partial("~/Views/Shared/_headerlayout.cshtml");

@Html.Partial("~/Views/Shared/_pLayout.cshtml");
<div style="margin-top:400px;font-size:30px">


     
</div>