@{
    ViewBag.Title = "Login";
}
@Html.Partial("~/Views/Shared/_headerlayout.cshtml");
 if (Session["login"] != null &&  ((int)Session["loginAdmin"] == 0 && ((int)Session["login"] == 1 || (int)Session["login"] == 2))
{
@Html.Partial("~/Views/Shared/_playout.cshtml");
}
else if (Session["loginAdmin"] != null && (int)Session["loginAdmin"] == 1)
{
@Html.Partial("~/Views/Shared/_mentor.cshtml");
}
else
{
<div class="container col-lg-3">

</div>
    }
@Html.Partial("~/Views/Shared/_headerlayout.cshtml");
<a href="~/Views/Home/Login.cshtml">~/Views/Home/Login.cshtml</a>
<div class="col-lg-4 " style=" margin-top:130px;"><img src="/Content/images/login.jpg" style="margin-top:50px;float:left;position:fixed;"></div>
<div class=" col-xs-4  text-center" style="margin-top:170px;margin-bottom:170px;margin-left:20px">
    <fieldset style="border-radius:9px">
        <form class="form-horizontal" enctype="multipart/form-data" action="/Home/confirmChange" method="post">
            <div class="form-group">

                <h2 style="margin-left:15px;font-family:Arial Rounded MT Bold;font:bold">Change Your Password</h2>

                <label for="inputEmail" class="control-label col-xs-2" style="font-size:12px">Current Password</label>
                <div class="col-xs-10">
                    <input type="password" name="oldpassword" class="form-control col-xs-2" id="inputPassword" placeholder="Current Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" style="font-size:12px" class="control-label col-xs-2">New Password</label>
                <div class="col-xs-10">
                    <input type="password" name="newpassword" class="form-control col-xs-2" id="inputPassword" placeholder="New Password">

                </div>
            </div>
            <div class="form-group">
                <div class=" col-xs-12">
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

