@{
    ViewBag.Title = "forgetPassword";
}
@Html.Partial("~/Views/Shared/_headerlayout.cshtml");
@if (Session["loginAdmin"] != null && (int)Session["loginAdmin"] == 1)
{
    @Html.Partial("~/Views/Shared/_mentor.cshtml");
}
else if (Session["login"] != null && ((int)Session["login"] == 1 || (int)Session["login"] == 2))
{
    @Html.Partial("~/Views/Shared/_playout.cshtml");
}
<div class="col-lg-3">
    <img src="/Content/images/forgetPwd.jpg" style="width:400px;height:400px;
float:left;position:fixed;margin-top:100px;margin-right:40px">
</div>

<div class="col-xs-6">
    <h1 style="margin-top:130px;font-family:Arial Rounded MT Bold;font:bold;margin-left:20px">Forget Password</h1>
    <form class="form-horizontal" style="font-size:12px">
         <div class="form-group">
             <div class="form-group">
                 <label class="control-label col-xs-3" for="inputName">Email:</label>
                 <div class="col-xs-9">
                     <input type="text" class="form-control" id="inputName" placeholder="Name">
                 </div>
             </div>
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>

        <div style="margin-bottom:300px;"></div>
    </form>
</div>

